.content-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.div-steps{
    width: 75vw !important;
    padding-bottom: 5vh;
}

.content-first{
    padding-top: 5vh;
    width: 50vw;
}

.content-four{
    padding-top: 5vh;
    width: 16vw;
}

.content-second{
    padding-top: 5vh;
    width: 30vw;
}

.div-c{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.content-panel{
    margin-bottom: 2vh;
}

.panel-body{
    margin-left: 2vw;
}

.panel-body .centered-content{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-left: 2vw !important;
}

.footer-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-first{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.heading-third{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type=text]:disabled {
    background: #dddddd;
}

.style-border{
    margin-left: 2vw;
    border-left-style: double;
    /* padding-left: 2vw; */
    border-top-style: double;
}

.padding-border{
    padding-left: 2vw;
}

.complete-border{
    border: double;
}

.title-panel-t{
    margin-left: 2vw;
    padding-left: 0;
    padding-bottom: 0;
}

.text-title{
    padding-left: 2vw;
    border-left: double;
}

.normal-text{
    padding-left: 1vw;
}

.div-buttons{
    display: flex;
    flex-direction: column;
}