.content{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.panel-login{
     width: 50vw !important;
}
.div-footer{
    display: flex;
    justify-content: flex-end;
}
.error-span{
    color: red;
    font-weight: bold;
}