.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .btn-acive{
    width: 70px;
    height: 70px;
    border: 2px solid #6A8182;
    color: #00792D !important;
    background-color: #00DE53 !important;
    border-radius: 50%;
    padding: 22px 18px 15px 18px;
    margin-top: -22px; 
}
.steps-form-2 {
    display: table;
    width: 100%;
    position: relative; }
.steps-form-2 .steps-row-2 {
    display: table-row; }
.steps-form-2 .steps-row-2:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: white; }
.steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form-2 .steps-row-2 .steps-step-2 p {
    margin-top: 0.5rem; }
.steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
    width: 70px;
    height: 70px;
    border: 2px solid #6A8182;
    background-color: white !important;
    color: #6A8182 !important;
    border-radius: 50%;
    padding: 22px 18px 15px 18px;
    margin-top: -22px; 
}
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
    border: 2px solid #00A4AC;
    color: #00A4AC !important;
    background-color: white !important; 
}
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
    font-size: 1.7rem; 
}

.tab-not{
    display: none;
}

