<!doctype html>
<html>
  <head>
      <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <!-- Include the core AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    <!-- Include the AngularJS routing library -->
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

    <script src="https://code.angularjs.org/1.3.5/angular-cookies.js"></script>

    <!-- Include my css  files -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/donation.css">
    <link rel="stylesheet" href="css/stepper.css">
  </head>
  <body ng-app="DonationsApp" >

    <nav class="navbar navbar-default" ng-controller="HomeController as home">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Donations App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/login" ng-if="home.tokenDonor == '-1'">Login</a></li>
                <li><a href="#/newDonation" ng-if="home.tokenDonor != '-1'" >New Donation</a></li>
                <li><a href="#/listDonations" ng-if="home.tokenDonor != '-1'" >list of donations</a></li>
            </ul>
        </div>
    </nav>

    <div ng-view></div>

    <!-- Add my scripts -->
    <script src="js/app/app.module.js"></script>
    <script src="js/app/app.config.js"></script>

    <script src="js/app/login/login.controller.js"></script>
    <script src="js/app/home/home.controller.js"></script>
    <script src="js/app/newDonation/newDonation.controller.js"></script>
    <script src="js/app/listDonations/listDonations.controller.js"></script>

    <script src="js/app/factories/auth.repository.js"></script>
    <script src="js/app/factories/login.repository.js"></script>
    <script src="js/app/factories/donation.repository.js"></script>

    <script src="js/app/services/login.service.js"></script>
    <script src="js/app/services/donation.service.js"></script>
    
    <script src="js/app/directives/donation1/donation1.directive.js"></script>
    <script src="js/app/directives/donation2/donation2.directive.js"></script>
    <script src="js/app/directives/donation3/donation3.directive.js"></script>
    <script src="js/app/directives/donation4/donation4.directive.js"></script>
    
    
  </body>
</html>