<div class="content-first">
    <div class="panel panel-info content-panel">
        <div class="panel-heading heading-third"><span><a data-toggle="collapse" data-target="#demo4" ><i class="fas fa-bars"></i></a> Payment Details</span> <button class="btn btn-primary" data-target="#1" data-toggle="tab">Edit</button></div>
        <div class="panel-body collapse in" id="demo4">
            <div class="row">
                <div class="col-md-6"><b>Status</b></div>
                <div class="col-md-6">Pending</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Payment Type</b></div>
                <div class="col-md-6">{{ thirdStep.PaymentTypeLabel }}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Pledge</b></div>
                <div class="col-md-6">${{ thirdStep.dataFirst.amount }}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Payment Detail</b></div>
                <div class="col-md-6">Billed on {{ thirdStep.getDate() | date : "shortDate" }}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Total Annual Amount</b></div>
                <div class="col-md-6">${{ thirdStep.getTotalAmount() }}</div>
            </div>
        </div>
    </div>
    <div class="panel panel-info content-panel">
        <div class="panel-heading heading-third"><span><a data-toggle="collapse" data-target="#demo5" ><i class="fas fa-bars"></i></a> Charity Details</span> <button class="btn btn-primary" data-target="#2" data-toggle="tab">Edit</button></div>
        <div class="panel-body collapse in" id="demo5">
            <div class="row">
                <div class="col-md-12"><b>${{ thirdStep.dataFirst.amount }} {{ thirdStep.dataSecond.name }}</b></div>
            </div>
        </div>
        <div class="panel-footer footer-first">
            <button class="btn btn-success" ng-click="thirdStep.saveDonation()" >Confirm</button>
        </div>
    </div>
    
</div>