<div class= "content-all" >
    <div class="steps-form-2 div-steps nav nav-tabs">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2">
                <a data-target="#1" data-toggle="tab" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
            </div>
            <div class="steps-step-2">
                <a data-target="#2" data-toggle="tab" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
            <div class="steps-step-2">
                <a data-target="#3" data-toggle="tab" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect"><i class="fa fa-lock" aria-hidden="true"></i></a>
            </div>
            <div class="steps-step-2">
                <a data-target="#4" data-toggle="tab" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0"><i class="fa fa-file-alt" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div id="1" class="tab-pane fade in active">
            <first-step info="newDonation.jsonDonation" ></first-step>
            
        </div>
        <div id="2" class="tab-pane fade" >
            <second-step info="newDonation.jsonAgencies" ></second-step>
        </div>
        <div id="3" class="tab-pane fade">
            <third-step></third-step>
        </div>
        <div id="4" class="tab-pane fade">
            <four-step></four-step>
        </div>
    </div>
</div>
