<div class="content-four">
    
    <div class="panel panel-default">
        <div class="panel-body centered-content" ng-show="fourStep.status == 1">
                <i class="far fa-check-circle fa-10x" style="color:green"></i>
                <h2>Success</h2>
                <div>
                    <a href="#/listDonations" class="btn btn-default">List of Donations</a>
                    <a data-target="#1" data-toggle="tab" class="btn btn-default">New Donation</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="fourStep.status != 1">
        <div class="panel-body centered-content">
                <i class="fas fa-times fa-10x" style="color:red"></i>
                <h2>Error</h2>
                <button data-target="#1" data-toggle="tab" class="btn btn-primary">Try again</button>
        </div>
    </div>
    
</div>