<div class="content-first">
    <form name="myForm" id="myForm">
            <div class="panel panel-info content-panel">
                    <div class="panel-heading"><a data-toggle="collapse" data-target="#demo" ><i class="fas fa-bars"></i></a> {{firstStep.infoDonation.PaymentTypeLabel}} </div>
                    <div class="panel-body collapse in" id="demo">
                        <p>{{firstStep.infoDonation.PaymentInstructions}}</p>
                        <p>{{firstStep.infoDonation.PaymentQuestion}}</p>
                        <div class="row div-c">
                            <label  class="radio-inline" ng-click="firstStep.changueInput(); firstStep.setValuesRadio(1,amountOption.Amount )" ng-repeat="amountOption in firstStep.infoDonation.AmountQuestions[0].AmountOptions" ng-if="amountOption.AmountLabel != '' "><input value="{{$index}}" ng-model="firstStep.radioAmount" type="radio" name="radioAmount" ng-required="!firstStep.radioAmount">{{ amountOption.AmountLabel }}</label>
                            <label class="radio-inline"><input value="-1" ng-model="firstStep.radioAmount" ng-click="firstStep.changueInput()" type="radio" name="radioAmount" id="checkCustom">$<input type="text" id="inputDonation" disabled></label>
                        </div>
                        <p>{{firstStep.infoDonation.FrequencyInstructions}}</p>
                         <div class="row div-c"> 
                            <label  class="radio-inline" ng-repeat="frequencyOption in firstStep.infoDonation.FrequencyTypeList" ng-click="firstStep.setValuesRadio(2, frequencyOption)" ><input name="radioF" value="{{$index}}" type="radio" ng-model="firstStep.radioF" required>{{ firstStep.getFrequency(frequencyOption) }}</label>
                         </div>
                    </div>
                </div>
            
                <div class="panel panel-info content-panel">
                    <div class="panel-heading"><a data-toggle="collapse" data-target="#dem2" ><i class="fas fa-bars"></i></a> {{firstStep.infoDonation.PaymentTypeLabel}} Information </div>
                    <div class="panel-body collapse" id="dem2">
                        <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Card Type</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="selectCard" ng-model="firstStep.cardType"> 
                                        <option value="">Select your Type Card</option>
                                    <option ng-repeat="typeCard in firstStep.infoDonation.CreditCardTypeList" ng-click="firstStep.checkCard(typeCard)" value="{{ typeCard }}" >{{ firstStep.getTypeCard(typeCard) }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">Card Number</label>
                            <div class="col-sm-7">
                                <b><span id="spanCard"></span></b>
                              <input type="text" maxlength="16" ng-keydown="firstStep.checkCard($event)" class="form-control" placeholder="Card Number" ng-model="firstStep.cardNumber" id="carNumber" name="inputCardN" required>
                            </div>
                            <!-- <h1>{{myForm.inputCardN.$valid}}</h1> -->
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">Card Verification Number</label>
                            <div class="col-sm-7">
                                <span ng-show="myForm.inputCvm.$invalid && myForm.inputCvm.$touched" style="color:red"> This field must 3 characters. </span>
                              <input type="text" name="inputCvm" class="form-control" pattern="[1-9]{3,3}" placeholder="Card Verification Number" id="cvn" ng-model="firstStep.cvn" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">Name On Card</label>
                            <div class="col-sm-7">
                                <span ng-show="myForm.inputName.$invalid && myForm.inputName.$touched" style="color:red"> Please enter one firstname and one lastname. </span>
                                <input pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}[ ]{1}[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}" name="inputName" type="text" class="form-control"  placeholder="Name On Card" id="nameOnCard" ng-model="firstStep.nameOnCard" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">Expiration Date</label>
                            <div class="col-sm-7">
                                <!-- {{ firstStep.expirationDate | date: "yyyy-MM" }} -->
                                <input type="month" class="form-control" min="2018-07" placeholder="Expiration Date" id="expirationDate" ng-model="firstStep.expirationDate" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <p for="inputEmail3" class="col-sm-5 col-form-label">Contact Email Address</p>
                            <div class="col-sm-7">
                                <span ng-show="myForm.input.$invalid" style="color:red"> Please enter a valid email address. </span>
                                <input type="email" name="input" class="form-control"  placeholder="Contact Email Address" id="email" ng-model="firstStep.email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label" >Country</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="country" ng-model="firstStep.country" required>
                                        <option value="">Select your Country</option>
                                    <option  ng-repeat="country in firstStep.listCountries"  value="{{country.ISO}}" >{{ country.CountryName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">Address 1</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"  placeholder="Address" id="address1" ng-model="firstStep.address1" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <p for="inputEmail3" class="col-sm-5 col-form-label">Address 2</p>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"  placeholder="Address" id="address2" ng-model="firstStep.address2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">City</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"  placeholder="City" id="city" ng-model="firstStep.city" required>
                            </div>
                        </div>
                        <div ng-show="firstStep.country == 'us' " >
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label" ng-model="firstStep.state" >State</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="state">
                                        <option ng-repeat="state in firstStep.listStates" value="{{ state.Code }}" >{{ state.Name }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" >
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Zip Code</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="zipCode"  placeholder="Zip Code" ng-model="firstStep.zipCode">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"  id="zipCodeExtension" placeholder="Zip Code Extension" ng-model="firstStep.zipCodeExtension">
                                </div>
                            </div>
                            
                        </div>
                        <div ng-show="firstStep.country != 'us' ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Province</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="province"  placeholder="Province" ng-model="firstStep.province">
                                </div>
                            </div>
                            <div class="form-group row" >
                                <label for="inputEmail3" class="col-sm-5 col-form-label">Postal Code</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="postalCode"  placeholder="Postal Code" ng-model="firstStep.postalCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer footer-first">
                            <a class="btn btn-success" ng-disabled="myForm.$invalid" data-target="#2" data-toggle="tab" ng-click="firstStep.changueTab()" >Next Step</a>
                    </div>
                </div>
    </form>
</div>