<div class="content-second">
    <form name="myForm2" id="myForm2">
            <div class="panel panel-info content-panel">
                    <div class="panel-heading"><a data-toggle="collapse" data-target="#demo3" ><i class="fas fa-bars"></i></a> {{ secondStep.listAgencies.PanelTitle }}</div>
                    <div class="panel-body collapse in" id="demo3">
                        <div class="form-check" ng-repeat="agency in secondStep.listAgencies.PanelItemList">
                            <label class="form-check-label" for="exampleRadios1">
                                <input class="form-check-input" name="radioAgency"  type="radio" ng-click="secondStep.selectAgency(agency)" value="{{$index}}" ng-model="secondStep.radioAgency" required>
                                {{ agency.Name }}
                            </label>
                        </div>
                    </div>
                    <div class="panel-footer footer-second">
                        <a class="btn btn-default"  data-target="#1" data-toggle="tab">Prev Step</a>
                        <a class="btn btn-success" data-target="#3" ng-click="secondStep.changueSecond()" data-toggle="tab" ng-disabled="myForm2.$invalid">Next Step</a>
                    </div>
                </div>
    </form>
</div>
