<div class= "content-all" >
    <h2>Giving History</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Campaign</th>
                <th>Pledge</th>
                <th>Payment Type</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="donation in list.list.PledgeList">
                <td>{{ donation.DateCreated | date : 'shortDate' }}</td>
                <td>{{ donation.CampaignName }}</td>
                <td>{{ donation.PledgeStatusType }}</td>
                <td>{{ donation.PaymentType }} - Cash</td>
                <td>${{ donation.TotalValue }}</td>
                <td><a data-toggle="modal" data-target="#myModal{{$index}}"><i class="fas fa-info fa-lg" ></i></a></td>
            </tr>

            
        </tbody>
    </table>

</div>

<div ng-repeat="donation in list.list.PledgeList">
        <div id="myModal{{$index}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header title-panel-t">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title text-title">Transaction #{{ donation.TransactionNumber }}</h4>
                        </div>
                        <div class="modal-body style-border">
                            <div class="row padding-border">
                                <label for="">Date Created</label>
                                <p class="normal-text">{{ donation.DateCreated | date : 'shortDate' }}</p>
                            </div>
                            <div class="row padding-border">
                                <label for="">Status</label>
                                <p class="normal-text">Submitted</p>
                            </div>
                            <div class="row padding-border">
                                <label for="">Payment Type</label>
                                <p class="normal-text">{{ donation.PaymentType }} - Cash</p>
                            </div>
                            <div class="row padding-border">
                                <label for="">Pledge</label>
                                <p class="normal-text">${{ donation.TotalValue }}</p>
                            </div>
                            <div class="row padding-border">
                                <label for="">Total Annual Amount</label>
                                <p class="normal-text">${{ donation.TotalValue }}</p>
                            </div>
                            <div class="row padding-border complete-border">
                                <label for="">Charity Details</label>
                            </div>
                            <div class="row padding-border">
                                <p class="normal-text"><b>${{ donation.TotalValue }}</b> {{ donation.DesignationList[0].DisplayName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>