<div class="content">
    <div class="panel panel-info panel-login">
        <div class="panel-heading">Login {{login.viewToken}} </div>
        <div class="panel-body">
            <div class="form-group">
                <label >Campaign Code</label>
                <input type="text" class="form-control" ng-model="login.campingCode" placeholder="">
            </div>
            <div class="form-group">
                <label >Username:</label>
                <input type="text" class="form-control" ng-model="login.userName" placeholder="">
            </div>
            <div class="form-group">
                <label >Password:</label>
                <input type="text" class="form-control" ng-model="login.password" placeholder="">
            </div>
            <span class="error-span">{{ login.error }}</span>
        </div>
        <div class="panel-footer div-footer" >
            <a  class="btn btn-success" id="loginButton" ng-click="login.setData()" >Accept</a>
        </div>
    </div>
</div>
